<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Dev notes</h2>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
                <p>
                    I have some questions about application design in this way. I disagree with some ways of your code implementation.
                </p>
				<p>
                        I'm sorry for bad markup, but i didn't want to implement bootstrap here, because u already have a materialize library.
                    </p>
				<p>
                        And i don't have a lot of experience of using materialize =(
                    </p>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>